.van-nav-bar__arrow,
.van-nav-bar__text,
.van-nav-bar__title,
.van-nav-bar__left {
  color: #fff !important;
  font-size: 14px;
}
.van-nav-bar {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.van-nav-bar__text {
  pointer-events: none;
}